*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}
body{
    background-color: rgb(244, 238, 238);;
}

#contact{
    width: 96%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.font{
    display: flex;
    justify-content: center;
}
.font h1{
    font-size: 55px;
    color: rgb(255, 166, 0);
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    transition: 0.3s ease;
}
.font h1::after{
    content: "";
    position: absolute;
    width: 0;
    height: 5px;
    background-color: orange;
    animation-name: h1anime;
    animation-duration: 3s;
}
.font h1:hover{
    color: orangered;
    transform: scale(1.1);
}

.font h1:hover::after{
    animation-name: h1anime1;
    animation-duration: 5s;
    background-color: orangered;
}
@keyframes h1anime {
    0%{
        width: 0;
        left: 0;
        bottom: 0;
    }
    50%{
        width: 100%;
        left: 0;
        bottom: 0;
    }
    100%{
        width: 0;
        left: 100%;
        bottom: 0;
    }
    
}

@keyframes h1anime1 {
    0%{
        width: 0;
        left: 0;
        bottom: 0;
    }
    50%{
        width: 100%;
        left: 0;
        bottom: 0;
    }
    100%{
        width: 0;
        left: 100%;
        bottom: 0;
    }
    
}
.text{
    font-size: 35px;
    color: black;
    font-weight: 800;
}
.text4{
    font-size: 22px;
    font-weight: 400;
}
.contact-section{
    width: 90%;
    height: auto;
    margin: auto;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.con-left{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 48%;
    padding-left: 40px;
    height: auto;
    border-radius: 10px;
    animation: fadeup 2s ease;
}
.con-right{
    padding: 60px 0px 60px 0;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 48%;
    height: auto;
    border-radius: 10px;
    margin: auto;
    animation: fadedown 2s ease;
}
.input{
    margin: 20px 0 10px 0;
    height: 30px;
    width: 60%;
    border: none;
    color: black;
    background-color: transparent;
    border-bottom: 2px solid black;
}
.con-submit:hover{
    transform: scale(1.1);
    background-color: orangered;

}
.con-submit{
    width: 50%;
    height: auto;
    border-radius: 50px;
    border: none;
    background-color: orange;
    color: white;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.textarea{
    margin: 20px 0 10px 0;
    height: 80px;
    width: 60%;
    border: none;
    color: black;
    background-color: transparent;
    border-bottom: 2px solid black;
    resize: none;
}
.con-more{
    text-align: left;
}

.con-social{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}
.con-icon a{
    color: black;
}
.con-icon{
    width: 40px;
    height: 40px;
    color: black;
    margin: 10px;
    border-radius: 50%;
    font-size: 40px;
    transition: 0.3s ease;
}
.con-icon:hover{
    transform: scale(1.5);
}

@keyframes fadeup {
    0% {
        opacity: 1;
        transform: translateY(35px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}

@keyframes fadedown {
    0% {
        opacity: 1;
        transform: translatey(-30px);
    }

    100% {
        opacity: 1;
        transform: translatey(0px);
    }

}
@media screen and (max-width: 768px) {
    .contact-section{
       flex-direction: column;

    }
    .con-left{
        width: 90%;
        padding-left: 10px;
    }
    .con-right{
        width: 100%;
    }
    .text{
        font-size: 25px;
    }
    .text4{
        font-size: 18px;
    }
    .con-right button{
        width: 80%;
    }
}